body {
    background-color: #0c122c;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #dddbff;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}

.desktop-image {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 398.125px;
    width: 1365px;
}

.document {
    display: inline-block;
    background-color: #0c122c;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.files {
    position: absolute;
    top: 180px;
    left: 280px;
    background-color: #1d2c67;
    border-radius: 5px 80px 5px 5px;
    display: inline-block;
    height: 120px;
    padding: 20px;
    width: 250px;
}

.folder {
    display: inline-block;
    background-color: #0c122c;
    margin: 10px;
    padding: 10px;
    padding-top: 13px;
    border-radius: 10px;
}

h1{
    display: inline-block;
}

h5{
    display: inline-block;
}

.logo {
    margin-bottom: 20px;
}

.progress-bar{
    background-image: linear-gradient(
      to right,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    height: 15px;
    width: 81.5%;
    border-radius: 10px;
    position: absolute;
}

.progress-bar-endpoints{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.progress-container {
    background-color: #0c122c;
    height: 15px;
    width: 90%;
    position: absolute;
    top: 60px;
    left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.progress-stopper{
    position: absolute;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    left: 96%;
}

.storage {
    background-color: #1d2c67;
    height: 120px;
    width: 35%;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 220px;
    left: 600px;
}

.storage-para {
    position: absolute;
    left: 20px;
    top: 15px;
}

.storage-remaining {
    color: black;
    background-color: white;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    position: relative;
    bottom: 140px;
    left: 300px;
  }

.upload {
    display: inline-block;
    background-color: #0c122c;
    margin: 10px;
    padding: 10px;
    padding-top: 17px;
    border-radius: 10px;
}